{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Football Club</h1>
        <nav>
            <ul>
                <li><a href="{% url 'player_list' %}">Player List</a></li>
                <li><a href="{% url 'club_list' %}">Club List</a></li>
                <li><a href="{% url 'match_list.html' %}">Match List</a></li>
                <li><a href="{% url 'dashboardv1' %}">Dashboard v1</a></li>
                <li><a href="{% url 'dashboardv2' %}">Dashboard v2</a></li>
                <li><a href="http://127.0.0.1:8050/">Interactive Dashboard</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Football Club</p>
    </footer>
</body>
</html>
